* {
  margin: 0px;
  font-family: sans-serif;
  box-sizing: border-box;
  }
/* BODY */
body {
    background-color: darkseagreen;
    min-width: 300px;
  }
/* HEADER */

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  line-height: 1rem;
  background-color: rgb(76, 97, 78);
  margin: 1rem 1rem 0rem 1rem;
  height: 5vh;
  list-style: none;
}

/* MENU - Hidden in modile view */
.nav-menu {
  display: none;
  width: max-content;
}

.logo a,
.header-nav a,
.logo p {
  font-size: 1rem;
  color: black;
  display: flex;
  text-decoration: none;
  /* text-wrap: nowrap; */
  /* letter-spacing: 0.2rem; */
  padding: 0.8rem;
}

.nav-item {
  color: black;
}

.nav-item a:hover {
  color: rgb(204, 163, 102);
  background-color: rgb(63, 99, 63);
  transform: scale(1);
}

.nav-item a:active {
  transform: scale(0.9s);
  background-color: rgb(204, 163, 102);
}

.logo:hover {
  transform: rotate(0.5turn);
}

/* MENU BUTTON */

#menu-toggle {
  display: none;
}
ul a {
  width: 10%;
}

#collapse-menu {
  position: relative;
  margin-top: 15vh;
  transition: transform 0.3s;
  transform-origin: right;
  list-style: none;
  border-radius: 5%;
  background-color: rgb(204, 163, 102);
  z-index: 1;
  top: 1rem;
  left: 15%;
}

input:not(:checked) ~ #collapse-menu {
  transform: scaleX(0);
  background-color: rgb(204, 163, 102);
}

/* FOOTER */
footer {
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  line-height: 1rem;
  overflow: hidden;
  background-color: rgb(76, 97, 78);
  margin: 1rem 1rem 1rem 1rem;
  height: 5vh;
  list-style: none;
}
i {
  color: rgb(204, 163, 102);
  margin: 0.5rem;
}


/* INDEX.HTML */
.top-card-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.top-card-section .profile, 
.cv-link {
  height: 250px;
  width: 250px;
  max-width: 450px;
  margin: 1rem;
  flex-shrink: 1;
  flex-grow: 1;
  background-color: rgb(92, 112, 90);
  display: flex;
}

.cv-link {
  padding: 0.5rem;
  align-items: center;
}

.cv-card {
  max-width: fit-content;
  overflow: hidden;
  margin: 10px auto;
}

.profile-image {
  max-width: fit-content;
  margin: 10px auto;
  border: solid rgb(76, 97, 78);
  overflow: hidden;
  border-radius: 10%;
}

/* Midnav */

.mid-card1 {
  background-image: url(../images/numberguess.jpg);
  max-width: 300px;
  object-position: center top;
  justify-content: center;  
}

/* subnav - secondary nav to seperate*/

.subnav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  line-height: 1rem;
  overflow: hidden;
  background-color: rgb(76, 97, 78);
  margin: 0rem 1rem auto;
  height: 5vh;
  list-style: none;
  color: rgb(204, 163, 102);
  font-size: 1rem;
}

.card-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-section > * {
  height: 200px;
  padding: 10px 5px 10px 5px;
  min-width: 150px;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 1rem;
  background-color: rgb(97, 150, 97);
}

.text {
  background-color: rgb(204, 163, 102);
  opacity: 0.7;
  display: flex;
  height: fit-content;
}
.project-links {
  text-decoration: none;
  color: black;
  align-self: flex-end;
  justify-content: center;
  align-items: center;
}
.bottom-card1 {
  background-image: url(../images/concert.jpg);
  max-width: 300px;
}
.bottom-card2 {
  background-image: url(../images/charlie.jpg);
  max-width: 150px;
}
.bottom-card3 {
  background-image: url(../images/max.jpg);
  max-width: 150px;
}

.bottom-card4 {
  background-image: url(../images/skater.jpg);
  max-width: 300px;
}

/* ABOUT.HTML */
/*divar */

/* Subnav-buttons */
.subnav button {
  width: 100%;
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.workplaces, .educations {
  border: solid;
  width: 80%;
  margin: 1rem auto;
  padding: 0.5rem;
  display: flex;
  flex-direction: column; 
  justify-content: center;
   }
   .hidden {
    display: none;
  }
  

li, p {
  list-style: none;
  
  
}

.text-colums {
  padding: 2rem 1rem;
  gap: 1rem;
  display: grid;
}

hr.separator {
  border: 1px solid black;
  margin: 1rem;
}

/* CONTACT.HTML */
.contact-cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
}
.adress::before {
  content: "🏠";
}
.email::before {
  content: "📧";
}

/*Contact page - Google maps */

.map-container {
  width: 60vw;
  height: 40vh;
  margin: 20px 0;
  border: 2px solid rgb(92, 112, 90);
  box-shadow: 2px 2px 5px rgb(204, 163, 102);
}
iframe {
  width: 100%;
  height: 100%;
}

/* media */

@media (min-width: 600px) {
  main {
    max-width: 60%;
    margin: 0 auto;
  }

  label {
    display: none;
  }

  .header-nav {
    display: flex;
    line-height: 1rem;
    overflow: hidden;
    margin: 1rem 1rem auto;
    margin-right: 1rem;
    height: 5vh;
    list-style: none;
  }

  .nav-menu {
    list-style: none;
    display: flex;
    justify-content: flex-end;
  }

  #collapse-menu {
    display: none;
  }

  .top-card-section .profile,
  .cv-link {
    height: 250px;
    width: 250px;
    max-width: 250px;
    border-radius: 10%;
    margin: 1rem;
    flex-shrink: 1;
    flex-grow: 1;
    background-color: rgb(92, 112, 90);
    display: flex;
  }
  .top-card-section {
    display: flex;
    flex-wrap: wrap;
  }

  .card-section > * {
    height: 60% auto;
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    opacity: 0.5;
  }
  .mid-card1:hover,
  .bottom-card1:hover,
  .bottom-card2:hover,
  .bottom-card3:hover,
  .bottom-card4:hover {
    opacity: 1;
  }

  /* ABOUT ME PAGE */
  .text-colums {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .text-about-work {
    border-left: 1px dotted black;
    padding: 0rem 0rem 0rem 1rem;
  }


  /* Contact */
  .contact-cards-container {
    flex-direction: row;
  }

  /* Google maps */

  .map-container {
    width: 40%;
    height: 400px;
  }
  iframe {
    width: 100%;
    height: 100%;
  }
}
